.strength-meter {
  display: flex;
  justify-content: start;
}

.strength-bar {
  height: 10px;
  width: 100px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 2px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.red {
  background-color: #ff7676;
}

.yellow {
  background-color: #ffd966;
}

.green {
  background-color: #63e685;
}
