.strength-meter {
  display: flex;
  justify-content: start;
}

.strength-bar {
  height: 10px;
  width: 100px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 2px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.red {
  background-color: #ff7676;
}

.yellow {
  background-color: #ffd966;
}

.green {
  background-color: #63e685;
}

.input-container {
  position: relative;
  margin: 20px 0;
}

input {
  width: 100%;
  padding: 12px;
  padding-right: 3.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.password-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 6px;
  padding: 4px;
  aspect-ratio: square;
  border: 1px solid #666;
  border-radius: 10%;
  text-align: center;
  line-height: 10px;
  font-size: 12px;
  background: #fff;
  color: #666;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.password-toggle:hover {
  color: #007bff;
}
